pyrogram
py-tgcalls
motor
pymongo
dnspython
certifi
yt-dlp
youtube-search-python
aiohttp
aiofiles
speedtest-cli
Pillow
heroku3
spotipy
beautifulsoup4
gTTS
GitPython
Unidecode
pykeyboard
requests
python-dotenv
